#clock {
    stroke: black;
    stroke-linecap: round;
    fill: #ffe;
}

#clock .face,
#clock .hands {
    stroke-width: 3;
}

#clock .ticks {
    stroke-width: 2;
}

#clock .numbers {
    font-family: sans-serif;
    font-size: 10;
    font-weight: bold;
    text-anchor: middle;
    stroke: none;
    fill: black;
}

#clock .hands .sechand {
    stroke-width: 1.5;
}